.diverso__imagen{
    height: 10.875rem;
}

@media screen and (min-width: 0px){
    .diverso__imagen{
        width: 9.75rem;
    }
}

@media screen and (min-width: 768px){
    .diverso__imagen{
        width: 10.25rem;
    }
}

@media screen and (min-width: 922px){
    .diverso__imagen{
        width: 11rem;
    }
}