.starWars__card{
    display: grid;
    gap: .5rem;
    grid-template-areas:
        "card-imagen"
        "card-detalle";
    grid-template-columns: 100%;
    margin: .5rem;
}

@media screen and (min-width: 0px){
    .starWars__card:nth-child(5),
    .starWars__card:nth-child(6){
        display: none;
    }

    .starWars__card{
        grid-template-rows: 10.875rem auto;
        height: 15.5625rem;
        width: 9.75rem;
    }
}

@media screen and (min-width: 768px){ 
    .starWars__card:nth-child(5),
    .starWars__card:nth-child(6){
        display: none;
    }

    .starWars__card{
        grid-template-rows: 10.875rem auto;
        height: 15.75rem;
        width: 10.25rem;
    }
}

@media screen and (min-width: 922px){
    .starWars__card:nth-child(5),
    .starWars__card:nth-child(6){
        display: flex;
        flex-direction: column;
    }

    .starWars__card{
        grid-template-rows: 10.875rem auto;
        height: 15.75rem;
        width: 11rem;
        transition: .3s;
    }

    .starWars__card:hover{
        box-shadow: 4px 4px 4px var(--sombra-suave);
    }
}