.starWars__bloque{
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 0px){
    .starWars__bloque{
        padding: 1rem;
    }
}

@media screen and (min-width: 768px){
    .starWars__bloque{
        padding: 2rem;
    }
}

@media screen and (min-width: 922px){
    .starWars__bloque{
        padding: 2rem 10.56% 0 10.56%;
        width: 78.88%;
    }
}

